* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    -webkit-user-select: none; /**disables text selection**/
    -moz-user-select: none; /**disables  text selection**/
    -ms-user-select: none; /**disables text selection**/
    user-select: none; /**disables text selection**/
}

h1 {
    font-weight: 800;
}

h2 {
    font-weight: 700;
}

h3 {
    font-weight: 700;
}

p {
    font-weight: 500;
    font-size: 18px;
}

.main-container {
    height: 100%; /* centers the container */
    padding: 0; /* centers the container */
    margin: 0; /* centers the container */
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.component-container {
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: hsl(241, 81%, 54%);
    display: flex;
    height: 50%;
}

.result-container {
    background-color: red;
    flex-basis: 50%;

}

.summary-container {

}

button {
    cursor: pointer;
}

button::after {}